.showPassword{
    font-size: small;
    margin: 10px;
}
.eye{
    display: flex;
   align-items: center;
}
.Oauth{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}
.SignUpShow_pass{
    margin-left: 25px;
}
.loadingSpinnerContainer {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgb(228, 228, 228);
    opacity: 0.3;
  
    z-index: 5000;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .loadingSpinner {
    width: 64px;
    height: 64px;
    border: 8px solid;
    border-color: #003cff transparent #001efe transparent;
    border-radius: 50%;
    animation: spin 1.2s linear infinite;
  }
  @keyframes spin {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }