.showPassword{
    font-size: small;
    margin: 10px;
}
.eye{
    display: flex;
   align-items: center;
}
.Oauth{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}
.SignUpShow_pass{
    margin-left: 25px;
}
